@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
  background-image: url("images/4194461-background-picture.jpg");
}
.wrapper{
  width: 300px;
  background-color: black;
  position: fixed;
  height: 100%;
  color:white;
  text-align: center;
  top:50px;
  z-index:1000;
}
form.form-sidebar{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  top:30%;
}
.form-sidebar label{
  padding: 20px;
  overflow-x: hidden;
  display:block;
  margin: 0;
}
.form-sidebar label:hover{
  cursor:pointer;
}
.checkbox-hidden{
  display: none;
}
.navbar{
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  top:0;
  width: 100%;
}
#movie-container{
  position: static;
  width:1400px;
  margin-top: 100px;
  margin-left:400px;
  overflow-x: hidden;
}
#colthumb{
  height: 400px;
  width: 200px;
  overflow: hidden;
  float:left;
  margin: 10px;
}
.thumbnail{
  background: black;
  height: 340px;
}

.rating fieldset, label {
  margin: 0;
  padding: 0;
  text-align: center;}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
.rating label:hover{cursor: pointer;}
