{%extends "sidebarapp/base.html"%}

{%block body%}
<div class="wrapper">
  <form class="form-sidebar" action="{%url 'sidebar:index'%}" method="get" id="formSidebar" enctype="multipart/form-data">
    {%for genre,check in genrescheck.items%}
    <input type=checkbox  id="{{genre}}_checkbox" name={{genre}} value="true" class="checkbox-hidden"{% ifequal check "true" %}checked{%endifequal%} onclick="formsubmit()">
    <label for="{{genre}}_checkbox" id="label_{{genre}}_checkbox" style="{% ifequal check 'true' %}background:blue;{%endifequal%}">{{genre}}</label>
    {%endfor%}
  </form>
</div>
<div class="container" id="movie-container">
{%if movie_and_rating%}
{%for movie,rating in movie_and_rating.items%}
<div  id="colthumb">
  <div class="thumbnail">
    <div class="caption" style="text-align:center;color:white;">
      {{movie.movie_title}}
    </div>
    <img src="{{movie.movie_logo}}" style="max-height:272px;">
  </div>
  <div id="stars" style="position:relative;bottom:17px;left:21px;">
  <form method="post" id="{{movie.id}}_stars" action="{%url 'sidebar:rate'%}">
  {% csrf_token %}
  {%include "sidebarapp/star.html"%}
  <input type="text" name="movie_id" value="{{movie.id}}" class="hidden">
  </form>
  </div>
</div>
{%endfor%}
{%endif%}
</div>
<form id="formcomb" action="{%url 'sidebar:index'%}" method="get">
</form>

<script>
  {%for movie,rating in movie_and_rating.items%}
  var id_star={{movie.id}}+"_star"+{{rating}};
  console.log(id_star)
  if({{rating}}!="0")
    document.getElementById(id_star).checked="true";
  {%endfor%}
</script>
{%endblock%}
